<div class="search">
  <form #form ='ngForm'(Submit)="onSubmit()">
    <input type="text" placeholder="search city">
  </form>
</div>

<!-- <div class="search">
  <form #form ='ngForm'(Submit)="onSubmit()">
  <input type="text" class="form-control" placeholder="search city">
  <button class="btn btn-outline-secondary" type="button" id="button-addon2">Button</button>
</form>
</div> -->
<div class="container" *[ngClass]="weatherData">
  <div class="upper-data">
    <img src="../assets/dawson-lovell-W_MUqtuHwyY-unsplash.jpg" *ngIf="weatherData?.main?.temp" alt="">
    <img src="../assets/jonathan-roger-LY1eyQMFeyo-unsplash.jpg" *ngIf="weatherData?.main?.temp" alt="">

    <div class="weather-data">
      <div class="location">{{weatherData?.name}}</div>
      <div class="temperature">{{ weatherData?.main?.temp| number: '1.0-0'}}⁰c</div>
    </div>
  </div>


  <div class="lower-data">
    <div class="more-info-label">
      More Infomation
    </div>

    <div class="more-info-container">
      <div class="info-block">
        <div class="more-info-label">
          <img src="" alt="">
          <span>min</span>
        </div>
        <div class="info-block-value">
          {{weatherData?.main?.temp_min | number: '1.0-0'}}⁰c
        </div>
      </div>
  
      <div class="info-block">
        <div class="more-info-label">
          <img src="" alt="">
          <span>max</span>
        </div>
        <div class="info-block-value">
        {{weatherData?.main?.temp_max | number: '1.0-0'}}⁰c
        </div>
     
    </div>
      <div class="info-block">
        <div class="more-info-label">
          <img src="" alt="">
          <span>humidity</span>
        </div>
        <div class="info-block-value">
          {{weatherData?.main?.humidity}}%
        </div>
      </div>


      <div class="info-block">
        <div class="more-info-label">
          <img src="" alt="">
          <span>wind</span>
        </div>
        <div class="info-block-value">
          {{weatherData?.wind?.speed}}km/h
        </div>
      </div>
    </div>
  </div>
</div>

<router-outlet></router-outlet>